body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-navbar-color{
 background: #263238 !important 


}

.txt-logo-color {
  background-image: linear-gradient(180deg, rgba(250,3,99,1) 0%, rgba(2,55,145,1) 94%, rgba(103,0,101,1) 94%, rgba(1,186,243,1) 100%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}


a {
 text-decoration: none !important;
}

